.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}



.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.angular-google-map-container {
    height: 350px;
    width: 80%;
    margin: 0 auto 0 auto;

}

.top5 { margin-top: 5px; }
.top7 { margin-top: 7px; }
.top10 { margin-top: 10px; }


.cssSlideUp {
    transition: 1.5s linear all;
    height: 80px;
    overflow: hidden;
}

.cssSlideUp.ng-hide {
    height:0;

}

.fadein,
.fadeout {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
}

.animate-enter,
.animate-leave
{
    -webkit-transition: 1425ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1425ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1425ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1425ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1425ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.animate-enter {
    top: 100%;
}
.animate-enter.animate-enter-active {
    top: 0;
}

.animate-leave {
    top: 0;
}
.animate-leave.animate-leave-active{
    top: -100%;
}

p.help-block {
    margin-left: 27%;
}


#footer {
    background-color: #f5f5f5;
}
#push, #footer {
    height: 60px;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 94%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /*background-color: #ffffff;*/

    margin: 0 auto 0 auto;
}