<div class="container bs-docs-container" align="center">
    <div ng-include="'scripts/navbar/navbar.html'"></div>

    <div ui-view>


    </div>
    <div ng-include="'scripts/footer/footer.html'">
    </div>
</div>
