<div class="modal-content">
    <form name="form">
        <div class="modal-header">Dodaj użytkownika</div>
        <div class="modal-body">
            <div class="alert alert-danger" ng-show="error">
                <ul ng-repeat="message in errorMessages">
                    <li>{{message.errorDescription}}</li>
                </ul>
            </div>
            <div class="alert alert-danger" ng-show="errorUserExist">

                {{errorEmailMessage}}
            </div>
            <div class="form-horizontal">
                <div class="form-group" ng-class="{'has-error': form.firstName.$invalid && form.firstName.$touched,
                 'has-success' : form.firstName.$valid}">
                    <label for="firstName" class="col-lg-3 control-label">Imię:</label>
                    <div class="col-lg-8">
                        <input type="text" name="firstName" ng-model="userFormFirstName" id="firstName"
                               class="form-control" required ng-minlength="3" ng-maxlength="50"/>
                    </div>
                </div>
                <div ng-show="form.firstName.$invalid && form.firstName.$touched">
                    <p class="help-block"
                       ng-show="form.firstName.$error.required">
                        To pole jest wymagane
                    </p>

                    <p class="help-block"
                       ng-show="form.firstName.$error.minlength">
                        To pole musi zawierać conajmniej 3 znaki
                    </p>

                    <p class="help-block"
                       ng-show="form.firstName.$error.minlength">
                        To pole może zawierać najwyżej 50 znaków
                    </p>
                </div>

                <div class="form-group" ng-class="{'has-error': form.lastName.$invalid && form.lastName.$touched,
                'has-success' : form.lastName.$valid}">
                    <label for="lastName" class="col-lg-3 control-label">Nazwisko:</label>
                    <div class="col-lg-8">
                        <input type="text" name="lastName" ng-model="userFormLastName" id="lastName"
                               class="form-control" required ng-minlength="3" maxlength="50"/>
                    </div>
                </div>

                <div ng-show="form.lastName.$invalid && form.lastName.$touched">
                    <p class="help-block"
                       ng-show="form.lastName.$error.required">
                        To pole jest wymagane
                    </p>

                    <p class="help-block"
                       ng-show="form.lastName.$error.minlength">
                        To pole musi zawierać conajmniej 3 znaki
                    </p>

                    <p class="help-block"
                       ng-show="form.lastName.$error.maxlengthh">
                        To pole może zawierać najwyżej 50 znaków
                    </p>
                </div>

                <div class="form-group" ng-class="{'has-error': form.email.$invalid && form.email.$touched, 'has-success' : form.email.$valid}">
                    <label for="email" class="col-lg-3 control-label">E-mail:</label>
                    <div class="col-lg-8">
                        <input type="email" name="email" ng-model="userFormEmail" id="email"
                               class="form-control" required />
                    </div>
                </div>
                <div ng-show="form.email.$invalid && form.email.$touched">
                    <p class="help-block"
                       ng-show="form.email.$error.required">
                        To pole jest wymagane
                    </p>

                    <p class="help-block"
                       ng-show="form.email.$error.email">
                        Błędny email
                    </p>
                </div>

                <div class="form-group" ng-class="{'has-error': form.password.$invalid && form.password.$touched,
                'has-success' : form.password.$valid}">
                    <label for="password" class="col-lg-3 control-label">Hasło: </label>
                    <div class="col-lg-8">
                        <input type="password" name="password" ng-model="userFormPassword" id="password"
                               class="form-control" required ng-minlength="3" ng-maxlength="255"/>
                    </div>
                </div>
                <div ng-show="form.password.$invalid && form.password.$touched">
                    <p class="help-block"
                       ng-show="form.password.$error.required">
                        To pole jest wymagane
                    </p>

                    <p class="help-block"
                       ng-show="form.password.$error.minlength">
                        To pole musi zawierać conajmniej 3 znaki
                    </p>

                    <p class="help-block"
                       ng-show="form.password.$error.maxlength">
                        To pole może zawierać najwyżej 255 znaków
                    </p>
                </div>
            </div>
        </div>
        <!--ng-disabled="form.$invalid"-->
        <div class="modal-footer">
            <button type="button" ng-click="save()"

                    class="btn btn-success">Zapisz</button>
            <button type="button"
                    ng-click="cancel()"
                    class="btn btn-danger"
                    data-dismiss="modal">
                Anuluj
            </button>
        </div>
    </form>
</div>