<div ng-controller="UserController">

    <div style="text-align: center;"><h2>Użytkownicy</h2></div><br />
    <button ng-click="add('lg')" class="btn btn-success btn-md pull-left">
        <i class="glyphicon glyphicon-plus"></i>Dodaj użytkownika
    </button>
    <br/><br/><br />


    <div class="col-centered">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th></th>
            </tr>
            <tr dir-paginate="user in users | itemsPerPage: usersPerPage" total-items="totalUsers"
                current-page="pagination.current">
                <td>{{user.userId}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button type="submit" ng-click="delete('sm',user.userId)" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-alert">&nbsp;Usuń</span>
                    </button>
                </td>
            </tr>

        </table>
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
</div>
