<div ng-controller="EventDetailCtrl">
    <div class="col-centered">

        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info pull-left">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Powrót</span>
        </button>
        <h2>{{event.name}}</h2>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Pole</th>
                <th>Wartość</th>
            </tr>
            </thead>
            <tr>
                <td>Nazwa</td>
                <td>{{event.name}}</td>
            </tr>
            <tr>
                <td>Krótki opis</td>
                <td>{{event.shortDescr}}</td>
            </tr>
            <tr>
                <td>Opis</td>
                <td><div ng-bind-html="event.longDescr | sanitize" ></div></td>
            </tr>
            <tr>
                <td>Organizator</td>
                <td>{{event.organizer}}</td>
            </tr>
            <tr>
                <td>Data wydarzenia</td>
                <td>{{event.dateEvent | timestampToDate}}</td>
            </tr>
            <tr>
                <td>Kraj</td>
                <td>{{event.country}}</td>
            </tr>
            <tr>
                <td>Województwo</td>
                <td>{{event.state}}</td>
            </tr>
            <tr>
                <td>Miasto</td>
                <td>{{event.city}}</td>
            </tr>
            <tr>
                <td>Ulica</td>
                <td>{{event.street}}</td>
            </tr>
            <tr>
                <td>Numer</td>
                <td>{{event.number}}</td>
            </tr>
            <tr>
                <td>Szerokość</td>
                <td>{{event.lat}}</td>
            </tr>
            <tr>
                <td>Długość</td>
                <td>{{event.lon}}</td>
            </tr>


        </table>
        <div class="angular-google-map-container">
            <!--<script src='http://maps.google.cn/maps/api/js?sensor=false'></script>-->
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="false" events="map.events">
            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            </ui-gmap-marker>
        </ui-gmap-google-map>
            </div>


    </div>
</div>