<div class="modal-content">
    <div class="modal-header"><h2>Edytuj wydarzenie</h2></div>


    <form name="form" role="form" show-validation novalidate>
        <div class="modal-body">
            <div class="alert alert-danger" ng-show="error">
                <ul ng-repeat="message in errorMessages">
                    <li>{{message.errorDescription}}</li>
                </ul>
            </div>
            <div class="form-horizontal">
                <div class="form-group"
                     ng-class="{'has-error': form.name.$invalid && form.name.$touched, 'has-success' : form.name.$valid}">
                    <label for="name" class="col-lg-3 control-label">Nazwa:</label>

                    <div class="col-lg-8">
                        <input type="text" name="name" ng-model="eventForm.name" id="name"
                               class="form-control" required ng-minlength="4" ng-maxlength="80"/>
                    </div>

                </div>
                <div ng-show="form.name.$invalid && form.name.$touched">
                    <p class="help-block"
                       ng-show="form.name.$error.required">
                        To pole jest wymagane
                    </p>

                    <p class="help-block"
                       ng-show="form.name.$error.minlength">
                        To pole musi zawierać conajmniej 4 znaki
                    </p>
                </div>


                <div class="form-group"
                     ng-class="{'has-error': form.shortDescr.$invalid &&  form.shortDescr.$touched, 'has-success' : form.shortDescr.$valid}">
                    <label for="shortDescr" class="col-lg-3 control-label">Krótki opis</label>

                    <div class="col-lg-8">
                        <input type="text" name="shortDescr" ng-model="eventForm.shortDescr" id="shortDescr"
                               class="form-control" required ng-minlength="10" ng-maxlength="255"/>
                    </div>
                </div>

                <div ng-show="form.shortDescr.$invalid && form.shortDescr.$touched">
                    <p class="help-block"
                       ng-show="form.shortDescr.$error.required">
                        To pole jest wymagane
                    </p>

                    <p class="help-block"
                       ng-show="form.shortDescr.$error.minlength">
                        To pole musi zawierać conajmniej 10 znaków
                    </p>
                </div>

                <div class="form-group"
                     ng-class="{'has-error': form.longDescr.$invalid && form.longDescr.$touched, 'has-success' : form.longDescr.$valid}">
                    <label class="col-lg-3 control-label">Opis wydarzenia</label>

                    <div class="col-lg-8">
                        <wysiwyg textarea-id="longDescr" textarea-name="longDescr" ng-model="eventForm.longDescr"
                                 textarea-class="form-control" textarea-required="true"
                                 textarea-height="80px" required ng-minlength="20" textarea-menu="customMenu"></wysiwyg>
                    </div>
                </div>

                <div ng-show="form.longDescr.$invalid && form.longDescr.$touched">
                    <p class="help-block"
                       ng-show="form.longDescr.$error.required">
                        To pole jest wymagane
                    </p>

                    <p class="help-block"
                       ng-show="form.longDescr.$error.minlength">
                        To pole musi zawierać conajmniej 20 znaków
                    </p>
                </div>

                <div class="form-group"
                     ng-class="{'has-error': form.organizer.$invalid && form.organizer.$touched, 'has-success' : form.organizer.$valid}">
                    <label for="organizer" class="col-lg-3 control-label">Organizator</label>

                    <div class="col-lg-8">
                        <input type="text" name="organizer" ng-model="eventForm.organizer" id="organizer"
                               class="form-control" required ng-minlength="4" ng-maxlength="120"/>
                    </div>
                </div>
                <div ng-show="form.organizer.$invalid && form.organizer.$touched">
                    <p class="help-block"
                       ng-show="form.organizer.$error.required">
                        To pole jest wymagane
                    </p>

                    <p class="help-block"
                       ng-show="form.organizer.$error.minlength">
                        To pole musi zawierać conajmniej 4 znaki
                    </p>
                </div>

                <div class="form-group" ng-class="{'has-error': form.dateEvent.$invalid && form.dateEvent.$touched,
                'has-success' : form.dateEvent.$valid}">
                    <label for="dateEvent" class="col-lg-3 control-label">Data wydarzenia</label>

                    <div class="col-lg-8">
                        <div class="input-group">

                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                   ng-model="eventForm.dateEvent"
                                   is-open="popup2.opened" min-date="{{dateNow}}" id="dateEvent" name="dateEvent"
                                   required
                                   min="{{dateNow | date:'dd.MM.yyyy'}}}"
                                   datepicker-options="dateOptions" ng-required="true"
                                   close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div ng-show="form.dateEvent.$invalid && form.dateEvent.$touched">
                        <p class="help-block"
                           ng-show="form.dateEvent.$error.required">
                            To pole jest wymagane
                        </p>

                    </div>
                </div>

                <div class="form-group"
                     ng-class="{'has-error': form.country.$invalid && form.country.$touched, 'has-success' : form.country.$valid}">
                    <label for="country" class="col-lg-3 control-label">Kraj</label>

                    <div class="col-lg-8">
                        <input type="text" name="country" ng-model="eventForm.country" id="country"
                               class="form-control" ng-required="true" ng-minlength="3" ng-maxlength="120"/>
                    </div>
                </div>

                <div ng-show="form.country.$invalid && form.country.$touched">
                    <p class="help-block"
                       ng-show="form.country.$error.required">
                        To pole jest wymagane
                    </p>

                    <p class="help-block"
                       ng-show="form.country.$error.minlength">
                        To pole musi zawierać conajmniej 3 znaki
                    </p>
                </div>


                <div class="form-group"
                     ng-class="{'has-error': form.state.$invalid && form.state.$touched, 'has-success' : form.state.$valid}">
                    <label for="state" class="col-lg-3 control-label">Województwo</label>

                    <div class="col-lg-8">
                        <input type="text" name="state" ng-model="eventForm.state" id="state"
                               class="form-control" required ng-minlength="3"/>
                    </div>
                </div>

                <div ng-show="form.state.$invalid && form.state.$touched">
                    <p class="help-block"
                       ng-show="form.state.$error.required">
                        To pole jest wymagane
                    </p>

                    <p class="help-block"
                       ng-show="form.state.$error.minlength">
                        To pole musi zawierać conajmniej 3 znaki
                    </p>
                </div>

                <div class="form-group"
                     ng-class="{'has-error': form.city.$invalid && form.city.$touched, 'has-success' : form.city.$valid}">
                    <label for="city" class="col-lg-3 control-label">Miasto</label>

                    <div class="col-lg-8">
                        <input type="text" name="city" ng-model="eventForm.city" id="city"
                               class="form-control" required ng-minlength="4" ng-maxlength="255"/>
                    </div>
                </div>

                <div ng-show="form.city.$invalid && form.city.$touched">
                    <p class="help-block"
                       ng-show="form.city.$error.required">
                        To pole jest wymagane
                    </p>

                    <p class="help-block"
                       ng-show="form.city.$error.minlength">
                        To pole musi zawierać conajmniej 4 znaki
                    </p>
                </div>

                <div class="form-group"
                     ng-class="{'has-error': form.street.$invalid && form.street.$touched, 'has-success' : form.street.$valid}">
                    <label for="street" class="col-lg-3 control-label">Ulica</label>

                    <div class="col-lg-8">
                        <input type="text" name="street" ng-model="eventForm.street" id="street"
                               class="form-control" required ng-minlength="3" ng-maxlength="255"/>
                    </div>
                </div>

                <div ng-show="form.street.$invalid && form.street.$touched">
                    <p class="help-block"
                       ng-show="form.street.$error.required">
                        To pole jest wymagane
                    </p>

                    <p class="help-block"
                       ng-show="form.street.$error.minlength">
                        To pole musi zawierać conajmniej 3 znaki
                    </p>
                </div>

                <div class="form-group"
                     ng-class="{'has-error': form.number.$invalid && form.number.$touched, 'has-success' : form.number.$valid}">
                    <label for="number" class="col-lg-3 control-label">Numer</label>

                    <div class="col-lg-8">
                        <input type="text" name="number" ng-model="eventForm.number" id="number"
                               class="form-control" required ng-minlength="1" ng-maxlength="20"/>
                    </div>
                </div>

                <div ng-show="form.number.$invalid && form.number.$touched">
                    <p class="help-block"
                       ng-show="form.number.$error.required">
                        To pole jest wymagane
                    </p>

                    <p class="help-block"
                       ng-show="form.number.$error.minlength">
                        To pole musi zawierać conajmniej 1 znak
                    </p>

                    <p class="help-block"
                       ng-show="form.number.$error.maxlength">
                        To pole może zawierać maksymalnie 20 znaków
                    </p>
                </div>
            </div>
        </div>

        <div class="angular-google-map-container col-centered">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events">
                <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>


        <div class="modal-footer">
            <button type="button" ng-click="save()"
                    class="btn btn-success"
                    ng-disabled="form.$invalid"
                    data-dismiss="modal">Zapisz
            </button>
            <button type="button" ng-click="cancel()"
                    class="btn btn-danger"
                    data-dismiss="modal">Anuluj
            </button>

        </div>
    </form>
</div>