<div ng-controller="EventController">
    <center><h2>Zdarzenia</h2></center><br />

    <button ng-click="add('lg')" class="btn btn-success btn-md pull-left">
        <i class="glyphicon glyphicon-plus"></i>Dodaj wydarzenie
    </button>
    <br /><br /><br />


    <div class="col-centered">
        <table class="table table-striped">
            <tr>
                <th width="6%">Id</th>
                <th width="18%">Nazwa</th>
                <th width="50%">Krótki opis</th>
                <th></th>

            </tr>
            <tr dir-paginate="event in events | itemsPerPage: eventsPerPage" total-items="totalEvents"
                current-page="pagination.current">
                <td>{{event.id}}</td>
                <td>{{event.name}}</td>
                <td>{{event.shortDescr}}</td>
                <td>
                    <button type="submit" ui-sref="eventDetail({id:event.id})" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open">&nbsp;Więcej</span>
                    </button>
                    &nbsp;
                    <button type="submit" ng-click="edit('lg',event.id)" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-edit">&nbsp;Edytuj</span>
                    </button>

                    &nbsp;
                    <button type="submit" ng-click="delete('sm',event.id)" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-alert">&nbsp;Usuń</span>
                    </button>

                </td>
            </tr>

        </table>
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

    </div>
</div>
