<div class="modal-content">
    <div class="modal-header">Usuń wydarzenie</div>

    <div class="modal-body">Naprawdę chcesz usunąć to wydarzenie?</div>


    <div class="modal-footer">
        <button type="button" ng-click="delete()"
                class="btn btn-success"
                data-dismiss="modal">Usuń
        </button>
        <button type="button" ng-click="cancel()"
                class="btn btn-danger"
                data-dismiss="modal">Anuluj
        </button>

    </div>
</div>