<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Wydarzenia</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="events">Wydarzenia <span class="sr-only">(current)</span></a></li>
                <li ui-sref-active="active" ng-switch-when="true" is-in-role="ROLE_ADMIN"><a ui-sref="users">Użytkownicy</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Link</a></li>-->
                <li class="dropdown" uib-dropdown>
                    <button id="single-button" type="button" class="btn btn-primary top5" uib-dropdown-toggle>
                        Profil <span class="caret"></span></button>
                    <ul class="uib-dropdown-menu" role="menu">
                        <li role="menuitem"><a ui-sref="changePassword">Zmiana hasła</a></li>
                        <li role="menuitem">
                            <a href="" ng-controller="LogoutCtrl" ng-click="logout()">Wyloguj</a>
                            </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>