<form name="form" novalidate ng-submit="changePassword()" show-validation>
    <div class="alert alert-success" ng-show="success">
        <strong>Hasło zmienione!</strong>
    </div>

    <div class="alert alert-danger" ng-show="errorActualPassword">
        <strong>Wystąpił błąd</strong> Aktulane hasło jest niepoprawne
    </div>

    <div class="alert alert-danger" ng-show="error">
        <strong>Wystąpił błąd</strong> Hasło nie zostało zmienione
    </div>

    <div class="alert alert-danger" ng-show="doNotMatch">
        Hasła nie są identyczne
    </div>
    <div class="form-horizontal">

        <div class="form-group">
            <label for="actualPassword" class="col-lg-3 control-label">Aktulane hasło</label>
            <div class="col-lg-8">
                <input type="password" name="actualPassword" class="form-control" id="actualPassword"
                       ng-model="actualPassword" ng-minlength="5" ng-maxlength="30" required>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-lg-3 control-label">Nowe hasło</label>
            <div class="col-lg-8">
                <input type="password" name="password" class="form-control" id="password"
                        ng-model="password" ng-minlength="5" ng-maxlength="30" required>
            </div>
        </div>

        <div ng-show="form.password.$dirty && form.password.$invalid">
            <div class="help-block" ng-show="form.password.$error.required">
                Wymagane hasło
            </div>
            <div class="help-block" ng-show="form.password.$error.minlength">
                Hasło wymaga conajmniej 5 znaków
            </div>
            <div class="help-block" ng-show="form.password.$error.maxlength">
                Hasło nie może być dłuższe niż 30 znaków
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword" class="col-lg-3 control-label">Potwierdź hasło</label>
            <div class="col-lg-8">
                <input type="password" name="confirmPassword" class="form-control" id="confirmPassword"
                       ng-model="confirmPassword" ng-minlength="5" ng-maxlength="30" required>
            </div>
        </div>

        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
            <div class="help-block" ng-show="form.confirmPassword.$error.required">
                Wymagane hasło
            </div>
            <div class="help-block" ng-show="form.confirmPassword.$error.minlength">
                Hasło wymaga conajmniej 5 znaków
            </div>
            <div class="help-block" ng-show="form.confirmPassword.$error.maxlength">
                Hasło nie może być dłuższe niż 30 znaków
            </div>
        </div>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Zapisz</button>
    </div>
</form>