<div class="alert alert-danger">
    <strong><h1>Dostęp zabroniony</h1></strong>
    <p><center>Nie masz uprawnień</center>
</div><br />
<button type="submit"
onclick="window.history.back()"
class="btn btn-info pull-left">
<span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Back</span>
</button>