


<div class="container">

    <div class="row">
        <div class="col-md-offset-5 col-md-4 col-centered">
            <div class="row">
            <div class="page-header"><center><h1>Login</h1></center></div></div>

            <div class="form-login">


                <form role="form" ng-submit="login(credentials)" class="form-horizontal" >

                    <div class="alert fadeout fadein" ng-class="{ 'alert-danger': authenticationError, 'alert-info': !authenticationError }">
                        <div ng-show="authenticationError">
                        <center><strong>Problem z logowaniem</strong> <br />Proszę sprawdzić swoje dane i spróbować jeszcze raz</center>
                        </div>

                        <div ng-hide="authenticationError">
                            <ul>
                                <li>E-mail: admin@localhost.pl,  hasło: admin</li>
                                <li>E-mail: user@localhost.pl, hasło: user</li>
                            </ul>
                        </div>
                    </div>

                    <input type="text"
                           class="form-control" id="username" name="username" ng-model="credentials.username"
                           placeholder="E-mail"/><br/>

                    <input type="password"
                           class="form-control" id="password" name="password"
                           ng-model="credentials.password"
                           placeholder="hasło"/>
                    <hr/>



                    <div class="form-group">
                        <div class="wrapper">
                            <button type="submit" class="btn btn-primary btn-md">Zaloguj <span class="glyphicon glyphicon-log-in"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


